{% extends "auctions/layout.html" %}

{% block body %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Active Listings</h2>

    <div class="row">
        {% for active in actives %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="{{ active.image }}" class="card-img-top" alt="{{ active.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ active.title }}</h5>
                    <h5 class="text-muted">{{ active.bid.bid_price }}$</h5>
                    <p class="card-text">{{ active.description }}</p>
                    <a href="{% url 'showListing' item=active.title %}" class="btn btn-primary w-100">View Page</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}